.delete-btn {
  color: #f11c1c !important;
}

.edit-btn {
border: none !important;
  color: #1950e7 !important;
}
button:not(:disabled) {
  border: none !important;
}

.message {
  color: #f11c1c;
  font-size: 20px;
  margin-left: 10px;
}